.bg-white{
    background-color: #ffffff;
}

.color_box {
    float:left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

.legend_row{
    height:30px;
}

.legend_row label{
    margin: 5px;
}

#units {
    margin: 5px;
}